.book-top {
	.book {
		margin-bottom: 60px;
		a {
			color: $red;
			text-decoration: none;
			&-hover{
				text-decoration: underline;
			}
		}
		img{
			box-shadow: 5px 5px 15px rgba(0,0,0,0.3);	
			margin: 0 auto;
			margin-bottom: 30px;
		}
	}
}
.addition-info {
	display: block;
	clear: both;
	color: $super-light-grey;
	font-size: 15px;
}
.add-info-ava {
	display: block;
	clear: both;
	align-content: center;
	margin: 0 auto;
	width: 70px;
	height: 70px;
	margin-top: 10px;
	margin-bottom: 60px;
}

.book-image {
	margin-top: 40px;
	margin-bottom: 20px;
}