a.buy-button, buy-button {
  background: linear-gradient(to top, $purple, $light-purple);
  padding: 25px 15px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1.3rem;
  margin: 60px 0 30px 0;
	color: $white;	
	font-size: 3rem;
	display: block;
	box-shadow: 0 20px 20px rgba(0,0,0,0.3);
	line-height: 1.1;
}

.non-fill-button {
  border: 1px solid $blue;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	&:hover {
		color: $red;
		border-color: $red;
	} 
	margin-bottom: 60px;
	margin-top: 40px;
}