@font-face {
  font-family: ALSFuchsia; /* Имя шрифта */
  src: url(../fonts/alsfuchsia.otf); /* Путь к файлу со шрифтом */
 }

.creators, .co-workers {
	h3 {
		margin-top: 0;
  	margin-bottom: 20px;
  	font-size: 3.2rem
	}
	.creator, .co-worker {
		.name {
			font-size: 2.4rem;
			font-weight: bolder;
			margin-bottom: 25px;
		}
		.biography {
			font-size: 1.9rem;
			margin-bottom: 30px;
		}
		p {
			margin-bottom: 30px;	
		}
	}
	.important {
		font-family: ALSFuchsia;
		border: 1px solid $black;
		border-left: none;
		border-right: none;
		font-size: 2.8rem;
		padding-top: 30px;
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
}