$loop-size: 30px;

.search-input {
	border: 1px solid $light-grey;
	height: $loop-size;
	font-size: 16px;
	line-height: $loop-size; 
	border-radius: $loop-size;
	padding-left: $loop-size;
	margin-left: -$loop-size;
	float: left;
	width: 88%;
}
.search-button {
	background: url('/i/enter.png')	no-repeat no-repeat;
	border: none;
	box-shadow: none;
	min-width: $loop-size;
	margin-left: 5px;
	float: right;
	height: $loop-size; 
}
.search-icon {
	background: url('/i/loop.png') no-repeat no-repeat center center;
	width: $loop-size;
	height: $loop-size;
	position: relative;
	float: left;

}