.testimonial-avatar {
	margin-bottom: 25px;	
	clear: both;
}
.testimonial {
	margin-bottom: 60px;		
}
.testimonial-lapki-left {
	background: url('/i/left-lapki.jpg') no-repeat no-repeat center center;
	width: 20px;
	height: 23px;
	float: left;
}
.testimonial-lapki-right {
	background: url('/i/right-lapki.png') no-repeat no-repeat center center;
	width: 20px;
	height: 23px;
	float: right;
	position: relative;
	bottom: 0;
}
.testimonial {
	color: $dark-grey;
	font-size: 21px;
}
.review {
	.testimonial {
		float: left;
		width: 85%;
	}

}