.we-are {
	margin-bottom: 50px;
	margin-top: 20px;
	div:first {
		margin-top: 60px;
	}
	div {
		margin-top: 30px;
		margin-bottom: 10px;
	}
	.king {
		margin-top: 0px;
	}
}


.about-us-description {
	font-size: 24px;	
}
