$black: #000;
$grey: #4c4c4c;
$dark-grey: #4d4d4d;
$light-grey: #979799;
$super-light-grey: #dcdcdc;
$white: #fff;
$blue: #4f8dc2;
$purple: #613c63;
$light-purple: #855987;
$red: #fc5454;
$font-size: 19px;

body { 
	background: $white;
	color: $black;
  font-size: $font-size;
	font-family: "Arial", sans-serif;
}

p {
	margin: 0;
	padding: 0;
}

.logo {
  margin-top: 40px;
  margin-bottom: 40px;
}

.text-center {
	text-align: center;
	&-small {
		@media (max-width: 768px) {
			text-align: center;
		}
	}
	&-tablet {
		@media (min-width: 769px) and (max-width: 1199px)  {
			text-align: center;
		}
	} 
}


h1 {
  font-size: 5rem;
	margin-bottom: 40px;
	margin-top:   40px;
} 
  
a {
	color: $blue;	  
	&:hover {
		color: $red;	
	}
}

h2 {
	font-size: 3.5rem;	
	margin: 0;
	
}

.nowrap {
	white-space:  nowrap;	
}

.cursive {
	font-style: italic;	
}

footer {
	margin-top: 60px;	
}

@import "_buttons.scss";
@import "_books.scss";
@import "_search.scss";
@import "_testimonials.scss";
@import "_we-are.scss";
@import "_creators.scss";
